---
layout: page
<!-- title: Experience -->
---
{% if site.data.publications %}
  <!-- begin Experience -->
    <section class="content-section">
      <header class="section-header">
          <h2>Publications</h2>
      </header>
      <header class="subsection-header">
        <h4> Journals </h4>

   {% for article in site.data.publication %}
   <div class="resume-item" itemscope itemprop="worksFor" itemtype="https://schema.org/PublicationEvent">
       <h3 class="resume-item-title" itemprop="name">{{ article.about }}</h3>
<!--        <h22 class="resume-item-details" itemprop="description">{{ article.author }}</h4> -->
<!--        <h20 class="resume-item-details" itemprop="title">{{ article.title }}</h4> -->
   </div><!-- end of resume-item -->
   {% endfor %}

   </section>
   <!-- end Experience -->
   {% endif %}
